header nav.header-nav {
  width: 100%;
  background: var(--main);
}
header nav.header-nav div.center {
  position: relative;
  width: 1050px;
  margin: 0 auto;
}
header nav.header-nav div.center ul.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
}
header nav.header-nav div.center ul.header-main > li {
  padding: 0 19px;
  height: inherit;
}
header nav.header-nav div.center ul.header-main > li h1 {
  height: inherit;
}
header nav.header-nav div.center ul.header-main > li h1 img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}
header nav.header-nav div.center ul.header-main > li a.main-menu-a,
header nav.header-nav div.center ul.header-main > li button.main-menu-btn {
  display: inline-block;
  height: inherit;
  line-height: 45px;
  font-size: 0.8em;
}
header nav.header-nav div.center ul.header-main > li > i {
  font-size: 1.2em;
}

div.sub-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--subMenu);
  transition: height 0.3s;
}

div.sub-nav-center {
  visibility: hidden;
  position: absolute;
  display: flex;
  top: 45px;
  left: 0;
  width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 20px;
}
div.sub-nav-center.click-sub-nav-center {
  display: block;
}
div.sub-nav-center.click-sub-nav-center div.shopping-list em,
div.sub-nav-center.click-sub-nav-center div.shopping-list small {
  transform: translateY(-5px);
  opacity: 0;
  transition: all 0.3s;
}
div.sub-nav-center.click-sub-nav-center div.shopping-list em {
  display: block;
  margin-bottom: 20px;
  font-size: 1.3em;
}
div.sub-nav-center.click-sub-nav-center div.shopping-list small {
  display: block;
  margin-bottom: 30px;
  font-size: 0.8em;
  color: #888;
}
div.sub-nav-center.click-sub-nav-center div.shopping-list small a {
  color: rgb(0, 0, 255);
  text-decoration: underline;
}
div.sub-nav-center.click-sub-nav-center li {
  font-size: 0.7em;
}
div.sub-nav-center.click-sub-nav-center li i {
  margin-right: 5px;
}
div.sub-nav-center ul {
  padding-right: 70px;
}
div.sub-nav-center ul li {
  margin-bottom: 10px;
  transform: translateY(-5px);
  opacity: 0;
  transition: all 0.3s;
  font-size: 0.8em;
}
div.sub-nav-center ul li.emphasized {
  font-size: 1.3em;
  font-weight: bold;
}
div.sub-nav-center ul li:first-child {
  color: #6E6E73;
  margin-bottom: 20px;
}
div.sub-nav-center ul li.last-em {
  margin-bottom: 30px;
}
div.sub-nav-center ul li.quick-link {
  padding: 3px 2px;
}
div.sub-nav-center ul li.quick-link:hover {
  font-weight: bold;
  background: var(--main);
}
div.sub-nav-center form {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
div.sub-nav-center form > i,
div.sub-nav-center form input {
  transform: translateY(-5px);
  opacity: 0;
  transition: all 0.3s;
}
div.sub-nav-center form i {
  color: #6E6E73;
}
div.sub-nav-center form input {
  flex: auto;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 1.5em;
  background: var(--subMenu);
}
div.sub-nav-center form input::-moz-placeholder {
  font-weight: bold;
}
div.sub-nav-center form input::placeholder {
  font-weight: bold;
}

ul.header-main > li.active div.sub-nav-center {
  visibility: visible;
}
ul.header-main > li.active div.sub-nav-center li,
ul.header-main > li.active div.sub-nav-center form > i,
ul.header-main > li.active div.sub-nav-center input,
ul.header-main > li.active div.sub-nav-center em,
ul.header-main > li.active div.sub-nav-center small {
  transform: translateY(0);
  opacity: 1;
}/*# sourceMappingURL=header.css.map */