main{
  background: var(--main);
}

div.notice-div{
  width: 100%;
  height: 75px;
  background: #FFF;
  div.notice-div-center{
    position: relative;
    width: 1050px;
    margin: 0 auto;
    overflow: hidden;
    div.slide-wrapper{
      display: flex;
      div.slide{
        flex-shrink: 0;
        width: 1050px;
        padding: 20px 0;
        font-size: .8em;
        text-align: center;
        div{
          margin-bottom: 5px;
          sup{
            font-size: .8em;
          }
        }
        a{
          color: royalblue;
          &:hover{
            text-decoration: underline;
          }
          &::after{
            content: ">";
            font-size: .7em;
            margin-left: 3px;
          }
        }
      }
    }
    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: .8em;
      &.next{
        right: 0;
      }
      &.prev{
        left: 0;
      }
    }
  }
}

.sub-title,
.sub-desc{
  font-weight: bold;
  font-size: 1.7em;

}
.sub-title{
  color: #222;
}
.sub-desc{
  color: #666;
}

section.title-section{
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
  padding: 80px 0;
  div.title{
    width: 60%;
    h1.sub-title,
    span.sub-desc{
      font-size: 2.5em;
    }
    h1.sub-title{
      display: inline-block;
    }
  }
  div.help{
    div.sub-help{
      display: flex;
      &:first-child{
        margin-bottom: 10px;
      }
      img{
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      div.sub-help-row{
        font-size: .8em;
        > *{
          margin: 4px 0;
          a{
            color: royalblue;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        div.sub-help-row-desc{
          font-weight: bold;
        }
      }
    }
  }
}

section.goods-section{
  width: 1050px;
  margin: 0 auto;
  div.swiper{
    width: 77vw;
    margin: 0 auto;
    overflow: visible;
    div.swiper-wrapper{
      div.swiper-slide{
        width: 150px;
        figure{
          padding: 0 10px;
          img{
            width: 100%;
            margin-bottom: 20px;
          }
          figcaption{
            text-align: center;
            font-size: .8em;
            font-weight: bold;
          }
        }
      }
    }
    div.swiper-button-next,
    div.swiper-button-prev{
      display: none;
    }
  }
}